footer.footer
    .footer__mail
        span 
            <i class="far fa-envelope"></i>
        p xyz@gmail.com
            
    .row-of-2.wrapper
        .column
            .footer__adress
                h1.heading-secondary Address
                p DTU East Campus, Block E, Jhilmil Colony, Delhi
        .column
            .footer__social-media
                h1.heading-secondary Follow Us
                span
                    <a href="#"> <i class="fab fa-facebook-square"></i></a>
                    <a href="#"> <i class="fab fa-twitter"></i></a>
                    <a href="#"> <i class="fab fa-instagram"></i></a>
                    <a href="#"> <i class="fab fa-linkedin-in"></i></a>
    .footer__copy-right.u-margin-top-small.u-margin-bottom-small
        p &copy; 2020 All rights reserve to <span><a href="https://innovativescripts.com">innovativeScripts</a></span>